body{
    background-color: #141414 ;
}

.container-fluid{
   padding: 5px 25px;
}

.navbar-expand{
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 30px;
    width: 90px;
}

.icons{
    color: white;
    font-size: 25px;
}

h1{
    color: white;
}
.list{
    padding: 20px 10px;
    font-size: 30px;
}

.white{
    color: white;
}
.card{
    width: 20rem;
    border-radius: 3px;
}

img{
    border-radius: 3px;
}

.grid{
    display:inline-grid;
    align-items: center;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 8px;
    padding: 20px 10px
}

.dim{
    width: 14rem;
}

.icn{
    padding: 0px 25px;
}